*{
    box-sizing: border-box;
 
}
body{
    font-family: "Hanken Grotesk", sans-serif;
    font-weight: 500;
    
    background-color: hsl(221, 100%, 96%);
}

#area{
   
    width: 500px;
    height: 350px;
    display: flex;
    margin: 100px auto;
    /* overflow: hidden; */
    background-color: hsl(0, 0%, 100%);
    border: 0px solid hsl(0, 0%, 100%);
    border-radius: 18px;
}
.main_left{
    flex-basis: 50%;

    background-color: hsla(241, 98%, 61%, 0.952);
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
 
    text-align: center;
    height: 350px;
    border: 1px solid hsl(252, 100%, 67%);
    border-radius: 18px;
    color: hsl(0, 0%, 100%);
   /* background:(hsl(200 50 80), coral 80%); */
}
.circle{
    width: 120px;
    height: 120px;
    background-color: hsl(241, 71%, 55%);
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    margin: auto auto;
    border: 0px solid hsl(241, 81%, 54%);
    border-radius: 50%;
    text-align: center;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
.circle h1, p{
    margin: 0;
/* line-height: 22px; */

}
.circle h1{
    font-size: 40px;
    font-weight: 800;
}
.circle p{
    font-size: 10px;
    margin: 0;
    color: hsla(0, 0%, 100%, 0.616);
    
}

h3{
    color: hsla(0, 0%, 100%, 0.493);
}
p{
    font-weight: 500;
    font-size: 12px;
    padding: 0px 5px;
    display: block;
    line-height: normal;
    color: rgba(240, 248, 255, 0.726);
}

.main_right{
    height: 350px;
    flex-basis: 50%;
    
    background-color: hsl(0, 0%, 100%);
    border: 0px solid hsl(0, 0%, 100%);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    font-size: small;
    padding: 0px 20px;
 

}


 .child {
    width: 95%;
    height: 40px;
    background-color: hsla(0, 100%, 67%, 0.068);
 
    border: 0px solid hsl(0, 100%, 67%);
    border-radius: 7px;
margin-bottom: 10px;

display: flex;
justify-content: space-between;
align-items: center;
 }
span{
    padding-left: 10px;
    
}
.child h4 span{
    color: hsl(0, 100%, 67%);
}
.child1 h4 span{
    color: hsl(39, 100%, 56%);
}
.child2 h4 span{
    color:  hsl(166, 100%, 37%);
}
.child3 h4 span{
    color: hsl(234, 85%, 45%);
}
b{
  color: rgba(0, 0, 0, 0.418);
}
.child img, .child1 img, .child2 img, .child3 img{
    vertical-align: middle;
    width: 15px;
    height: auto;
}

.child1{
    width: 95%;
    height: 40px;
   background-color:  hsla(39, 100%, 56%, 0.089);
   margin-bottom: 10px;
   border-radius: 7px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.child2{
    width: 95%;
    height: 40px;
    background-color:  hsla(166, 100%, 37%, 0.075); 
    margin-bottom: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.child3{
    width: 95%;
    height: 40px;
    background-color:  hsla(234, 85%, 45%, 0.096); 
    margin-bottom: 10px;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .child:last-child{
    margin: auto auto;
} */
.center{
    display: flex;
    justify-content: center;
    align-items: center;

 }
input[type='button']{
padding: 12px 70px;
margin-top: 10px;
margin-top: 12px;


/* background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); */
background-color:  hsl(224, 30%, 27%);
border: 0px solid hsl(252, 100%, 67%);
border-radius: 25px;
color: aliceblue;
font-size: 10px;
font-weight: 700;
}
input[type='button']:hover {

background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
border: 0px solid hsl(252, 100%, 67%);
border-radius: 25px;

}



@media all and (max-width:430px) and (max-height:944px){
*{
    margin: 0;
    padding: 0;
}
    #area{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: auto auto;
       background-color: aliceblue;
    }

.main_right{
    flex-basis: 100%;
    height: auto;
    padding-bottom: 50px;
}
input[type='button']{
    padding: 20px 120px;
    margin-top: 10px;
    margin-top: 12px;

    }
    .child {
       margin-top: 10px;
        height: 50px;
    margin-bottom: 15px;
 
     }
    .child1 {
       
        height: 50px;
    margin-bottom: 15px;
 
     }
    .child2 {
       
        height: 50px;
    margin-bottom: 15px;
 
     }
    .child3 {
       
        height: 50px;
    margin-bottom: 15px;
 
     }
     h3{
        color: hsla(0, 0%, 100%, 0.493);
    }
 
    p{
        font-weight: 400;
        font-size: 15px;
        padding: 0px 32px;   
    }
    br{
        display: none;
    }
    .main_left{
        flex-basis: 100%;
        height: auto;
        padding-bottom: 80px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    position: relative;}
    .main_left p{
        position: inherit;
        top: 50px; }
    .main_left h2{
        position: inherit;
        top: 35px; }
    .main_left .circle {
        position: inherit;
        top: 30px; }
    .main_left h3 {
        position: inherit;
        top: 20px;}
    .circle p{
        position: inherit;
        top: 0px;}

 .circle{
    margin: 10px auto;
 }

body{
    background-color: hsl(0, 0%, 100%);
}

}